@charset "utf-8";
/* CSS Document */

body{ background:#343434;}
*{ margin:0; padding:0; outline: none;}
a img {outline : none;}
a {outline : none;}
img {border : 0;}

.container{ width:auto;}
.container{ background:#FFF; border-left:1px solid #FFF; border-right:1px solid #FFF; padding:0;}
.borderWrap{ width: 100%; height: auto;border-left:9px solid #000; border-right:9px solid #000;}
.banner{ position:relative;}
    .banner2{display:none;} 
    .banner3{display:none;}
	.btn-join{ background:url('btn-joinNow.png') no-repeat; width:144px; height:71px; position: absolute;	bottom: 99px;	right: 7px;	z-index:11;	}
	.btn-members{ background:url('btn-members.png') no-repeat; width:144px; height:63px; 	position: absolute;	bottom: 38px;	right: 7px;	z-index:10;}
.row-img{ }
.box{   margin: 0px auto; padding: 7px 7px; }

 
.btn-download{ }

 
	
h1{  color: #ffc700;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: bold;
     margin:0px;
	 margin-top:25px;
	}
h2{ margin:0px;	 margin-bottom:25px;
 }
h2 a{ color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin:0px;
    text-decoration: underline;
 }
 
h2 a:hover{ color:#000000;}

.footerLink{ margin-top:30px;}
a.h2{  font-size: 22px; text-decoration: underline; font-weight: bold;}
a.h2:link {color: #000; font-family: Arial, Helvetica, sans-serif;  }
a.h2:active {color: #000; font-family: Arial, Helvetica, sans-serif;}
a.h2:visited {color: #000; font-family: Arial, Helvetica, sans-serif; }
a.h2:hover {color: #000; font-family: Arial, Helvetica, sans-serif;  }

.textlink{ margin:50px auto;}

.footer-links, .footer-links a {
	font-family: Century Gothic,Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
	color: #000;
}

.footer-links a:visited {
	color: #000;
}

.footer-links a:hover {
	color: #000;
	text-decoration: none;
}
.asacp{ margin:20px auto;}
.bullet {	color: #000; }
.biller{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; margin-top:20px; }
.biller a{ color:#000; text-decoration:none; }
.biller a:hover{ color:#000; text-decoration:underline; }

.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 0px;
}
/*==========  Non-Mobile First Method  ==========*/



/* 4 columns */
/* Large desktops and laptops */
@media (min-width: 1331px) {
	.container{ width:1320px !important;}
	.banner{ width:100%; height:557px; margin:auto; 
				background-image:url('banner-lg.jpg');
			background-position: top center;		
			background-repeat:no-repeat;
			background-size:contain;	}
    .row-img {
width: 99%;
margin: auto;
}
    .box {
margin: 0px auto;
padding: 7px 7px;
}    
    .box a.pic{ width:310px; height: 260px; display: block; border:5px solid #000; }
    .box a.dbtn{ width:310px; height: 47px; display: block; border:5px solid #000; border-top:none; }    
    .banner2{display:none;} 
    .banner3{display:none;}
}

/* 3 columns */
/* Portrait tablets and medium desktops */
@media (min-width: 1011px) and (max-width: 1330px) {
    .container{ width:980px !important;}
	.banner{ width:100%; height:553px; margin:auto; 
				background-image:url('banner-md.jpg');
			background-position: top center;		
			background-repeat:no-repeat;
			background-size:contain;	}
    .col-md-4 {
    width: 33.33333333%;
    }
    .box {
margin: 0px auto;
padding: 5px 5px;
}
    .box a.pic{ width:310px; height: 260px; display: block; border:5px solid #000; }
    .box a.dbtn{ width:310px; height: 47px; display: block; border:5px solid #000; border-top:none; }      
    .banner2{display:none;} 
    .banner3{display:none;}    
	.btn-join{	position: absolute;	bottom: 99px;	right: 7px;	z-index:11;	}
	.btn-members{	position: absolute;	bottom: 42px;	right: 7px;	z-index:10;}
 
    h1 { font-size: 25px;}    
    h2 a{ font-size:20px; }
    
}


/* 2 columns */
/* Portrait tablets and medium desktops */
@media (min-width: 681px) and (max-width: 1010px) {
	.container{ width:677px !important; }
	.banner{ width:100%; height:420px; margin:auto;
				background-image:url('banner-sm.jpg');
			background-position: top center;		
			background-repeat:no-repeat;
			background-size:contain;	}
     .box a.pic{ width:310px; height: 260px; display: block; border:5px solid #000; }
    .box a.dbtn{ width:310px; height: 47px; display: block; border:5px solid #000; border-top:none; }    
.col-sm-6 {
width: 50%;
}
    .row-img{ width:98%; margin:auto;}
.box {
margin: 0px auto;
padding: 6px 6px;
}
	.btn-join{	position: absolute;	bottom: 86px;	right: 7px;	z-index:11;	}
	.btn-members{	position: absolute;	bottom: 26px;	right: 7px;	z-index:10;}
    
    .footerLink img{margin-top:20px;}
    
    .banner2{display:none;} 
    .banner3{display:none;} 

}


/* 2 columns */
/* Portrait tablets and small desktops */
@media (min-width: 400px) and (max-width: 680px) {
	.borderWrap{ width:100% !important; border:none; 	}
    .banner2{ display: block; width:100%; height:auto;}
    .banner3{display:none;}    
 	.banner{ display:none;}
		
	h1{ font-size:20px;}
	h2, h2 a{font-size:18px;}
	    .box{   margin: 0px auto; padding: 7px 7px; }
	 
    .btn-join{display:none;}
	.btn-members{ display:none;}
    .col-sm-6 {width: 50%;}
    .imgBox{ border:3px solid #000; }
.btn-download {
border: 3px solid #000;
border-top: none;
}    
    
}

/* 1 column */
 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 400px) {
	.borderWrap{ border:none; 		}
    .banner3{ display: block; width:100%; height:auto;}
    .banner2{display:none;}
    .banner{display: none;}
	.col-xs-12 {width: 100%; }	
	h1{ font-size:16px;}
	h2, h2 a{font-size:14px;}
	a.h2{  font-size: 18px;}			
    .col-xs-12 {width: 50%;}
	.footer-links, .footer-links a { font-size:15px;}	
    .imgBox{ border:3px solid #000; }
    .btn-download {
    border: 3px solid #000;
    border-top: none;
    }       
    .btn-join{display:none;}
	.btn-members{ display:none;}
	
}
.globaltap{position:fixed;z-index:99999;display:block;width:100%;height:100%;top:0} 
 